body{
    font-family: 'Roboto', sans-serif;
}


/*Carousel*/

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slick-center div {
    transition: all .3s ease-in-out;
    transform: scale(1.2);
}

.slick-next:before,
.slick-prev:before {
    color: black !important;
}
.slick-track {
   padding: 50px 0;
}

.sale-carousel img {
    max-width: 100%;
    margin: 0 0 1.45rem;
    padding: 0;
}

.sale-carousel .slick-dots li {
    width: 80px;
}

.sale-carousel .slick-dots li.slick-active img {
    border: 1px solid #BC0200;
    border-radius: 5px;
}

.ReactModal__Body--open {
    overflow-y: hidden;
}
